:root {
    --shade-orange-100: #e57300;
    --shade-orange-200: #cc6600;
    --shade-orange-300: #b25900;
    --shade-orange-400: #994c00;
    --shade-orange-500: #7f4000;
    --shade-orange-600: #663300;
    --shade-orange-700: #4c2600;
    --shade-orange-800: #331900;
    --shade-orange-900: #190c00;
    
    --color-orange: #ff8000;

    --tint-orange-100: #fff2e5;
    --tint-orange-200: #ffe5cc;
    --tint-orange-300: #ffd8b2;
    --tint-orange-400: #ffcc99;
    --tint-orange-500: #ffbf7f;
    --tint-orange-600: #ffb266;
    --tint-orange-700: #ffa64c;
    --tint-orange-800: #ff9932;
    --tint-orange-900: #ff8c19;

    --color-black: #000000;
    --color-white: #ffffff;

    --grid-margin: clamp(1rem, -0.3rem + 6.5vw, 7.5rem);
	--grid-gutter: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
	--grid-content-width: 840px;
	--grid-wide-width: 1136px;
	--grid-max-width: 1680px;

    --font-size-base: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
    --font-size-05: clamp(0.8rem, 0.7538rem + 0.2051vw, 1rem);
    --font-size-10: clamp(1.25rem, 1.1779rem + 0.3205vw, 1.5625rem);
    --font-size-20: clamp(1.5625rem, 1.4724rem + 0.4006vw, 1.9531rem);
    --font-size-30: clamp(1.9531rem, 1.8404rem + 0.5008vw, 2.4414rem);
    --font-size-40: clamp(2.4414rem, 2.3006rem + 0.626vw, 3.0518rem);
    --font-size-50: clamp(3.0518rem, 2.8757rem + 0.7825vw, 3.8147rem);
    --font-size-60: clamp(3.8147rem, 3.5946rem + 0.9781vw, 4.7684rem);
    --font-size-70: clamp(4.7684rem, 4.4933rem + 1.2227vw, 5.9605rem);
    --font-size-80: clamp(5.9605rem, 5.6166rem + 1.5283vw, 7.4506rem);
}