---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Hero from '../components/Hero.astro';
---

<Layout 
	title="Error | Geoff Dusome"
	seo={{
		description: "Whoops! Something went wrong.",
		canonicalUrl: 'https://geoffduso.me/500',
		ogTitle: 'Error | Geoff Dusome',
		ogType: 'website',
		twitterCard: 'summary',
	}}
>
	<Container>
		<Hero title="Whoops!">
			<p>Something went wrong. Please try again later.</p>
			<p>If you're looking for somewhere to go, you can return to the <a href="/" class="animated-underline">home page</a> or browse the <a href="/blog" class="animated-underline">blog</a>.</p>
		</Hero>
	</Container>
</Layout>