---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Hero from '../components/Hero.astro';
---

<Layout 
	title="Home | Geoff Dusome"
	seo={{
		description: "Hi! I'm a full-stack web developer with a passion for creating beautiful and functional websites. I'm based in Grand Rapids, MI and I'm currently working as a Senior Frontend Engineer at Modern Tribe.",
		canonicalUrl: 'https://geoffduso.me',
		ogTitle: 'Home | Geoff Dusome',
		ogType: 'website',
		twitterCard: 'summary',
	}}
>
	<Container>
		<Hero title="Geoff Dusome">
			<p>Hi! I'm a full-stack web developer with a passion for creating beautiful and functional websites. I'm based in Grand Rapids, MI and I'm currently working as a Senior Frontend Engineer at <a href="https://moderntribeagency.com/" target="_blank" class="animated-underline">Modern Tribe</a>.</p>
		</Hero>
	</Container>
</Layout>