---
import Nav from './Nav.astro';
---

<header>
    {Astro.url.pathname === '/' ? <h1 class="logo">GDev</h1> : <span class="logo"><a href="/" class="animated-underline">GDev</a></span>}
    <Nav items={[
        { href: '/', text: 'Home' },
        { href: '/blog', text: 'Blog' },
    ]} linkColor="var(--color-black)" />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 1rem var(--grid-margin);
        background-color: var(--tint-orange-300);
    }

    header .logo {
        font-size: 1.5rem;
        font-weight: 700;
    }

    header .logo a {
        text-decoration: none;
        color: var(--color-black);
    }
</style>