---
import Nav from './Nav.astro';
import ReadingProgress from './ReadingProgress.astro';

const { showReadingProgress } = Astro.props;
---

<div class="header-container">
    <header>
        {Astro.url.pathname === '/' ? <h1 class="logo">GDev</h1> : <span class="logo"><a href="/" class="animated-underline">GDev</a></span>}
        <Nav items={[
            { href: '/', text: 'Home' },
            { href: '/blog', text: 'Blog' },
        ]} linkColor="var(--color-black)" />
    </header>
    {showReadingProgress && <ReadingProgress />}
</div>

<style>
    .header-container {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem var(--grid-margin);
        background-color: var(--tint-orange-300);
    }

    header .logo {
        font-size: 1.5rem;
        font-weight: 700;
    }

    header .logo a {
        text-decoration: none;
        color: var(--color-black);
    }
</style>