---
const { title } = Astro.props;
---

<div class="hero">
	{title && <h2>{title}</h2>}
    <slot />
</div>

<style>
    .hero {
		padding: 4rem 0;
		text-align: left;
	}
	
	.hero h2 {
		max-width: var(--grid-wide-width);
		font-size: 3rem;
		line-height: 1.2;
	}

	.hero :global(p) {
		max-width: var(--grid-content-width);
		margin-top: 2rem;
		text-wrap: wrap;
		text-wrap: pretty;
		line-height: 1.5;
	}

	.hero :global(p + p) {
		margin-top: 1rem;
	}

	.hero :global(p a) {
		color: currentcolor;
		text-decoration: none;
		font-weight: 600;
	}
</style>