---
const { title, headingLevel = 'h1' } = Astro.props;
---

<div class="hero">
	{title && headingLevel === 'h1' && <h1>{title}</h1>}
	{title && headingLevel === 'h2' && <h2>{title}</h2>}
    <slot />
</div>

<style>
    .hero {
		padding: 4rem 0;
		text-align: left;
	}
	
	.hero :global(h1),
	.hero :global(h2) {
		max-width: var(--grid-wide-width);
	}

	.hero :global(p) {
		max-width: var(--grid-content-width);
		margin-top: 2rem;
	}

	.hero :global(p + p) {
		margin-top: 1rem;
	}
</style>