---
const { href, text, target, isActive } = Astro.props;
---

<li>
    <a 
        href={href} 
        target={target || '_self'}
        rel={target === '_blank' ? 'noreferrer' : undefined}
        class:list={[{'active': isActive}]}
    >
        {text}
    </a>
</li>

<style>
    li a {

        &.active {
            background-size: 100% 0.1em;
        }
    }
</style>