---
import Post from './Post.astro';
const { posts } = Astro.props;
---

<div class="post-list">
    {posts.length === 0 ? (
        <p>No posts found.</p>
    ) : (
        <ul class="post-list__grid">
            {posts.map((post: any) => (
                <li>
                    <Post post={post} />
                </li>
            ))}
        </ul>
    )}
</div>

<style>
    .post-list {
        container: post-list / inline-size;
    }

    .post-list__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--grid-gutter);
        padding-block-end: 4rem;

        @container (width >= 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @container (width >= 1160px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
