---
import '../assets/css/reset.css';
import '../assets/css/variables.css';
import '../assets/css/utilities.css';
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SEO, { type SEOData } from '../components/SEO.astro';
import { Font } from 'astro:assets';

interface Props {
	title: string;
	seo?: SEOData;
	showReadingProgress?: boolean;
}

const { title, seo, showReadingProgress = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO seo={seo} />
		<title>{title}</title>
		<ClientRouter />
		<Font cssVariable="--font-open-sans" />
	</head>
	<body>
		<Header showReadingProgress={showReadingProgress} />
		<main transition:animate="fade">
			<slot />
		</main>
		<Footer />
		<script data-goatcounter="https://geoffdusome.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	</body>
</html>

<style>
	html,
	body {
		font-family: var(--font-open-sans);
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
	}
</style>
